.datos{
background-color: aqua;
font-size: 30px;
text-align: center;
color: blue;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
background-color: aquamarine;

}